* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

.wrap {
  width: 1100px;
  height: 700px;
}

.left {
  width: 350px;
  height: 100%;
  float: left;
}

.right {
  width: 350px;
  height: 350px;
  float: left;
  position: relative;
  overflow: hidden;
}

.right img {
  position: absolute;
  width: 700px;
  height: 700px;
  display: none;
  left: 0;
  top: 0;
}

.right img.show {
  display: block;
}

.picBox {
  width: 100%;
  height: 350px;
  position: relative;
}

.picBox .swiper-container {
  width: 100%;
  height: 100%;
}

.picBox .swiper-container img {
  width: 100%;
  height: 100%;
}

.picBox .mask {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.picBox .show {
  display: block;
}

.titleBox {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  padding: 14px 33px;
}

.titleBox .title {
  flex: 1;
}

.titleBox .title img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.titleBox .active {
  border: 2px solid #ec3535;
}

.titleBox .swiper-button-prev,
.titleBox .swiper-button-next {
  width: 25px;
  height: 25px;
  top: 50%;
  margin-top: -12.5px;
}
