* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box {
  display: flex;
  padding: 20px;
}

.box .box-left {
  flex: 4;
}

.box .box-left .search {
  margin: 20px 0;
}

.box .box-left .search .two {
  margin-left: 40px;
  border: solid 2px;
  width: 170px;
  margin-top: 10px;
  text-align: center;
}

.box .box-left .search button {
  margin-top: 20px;
}

.box .box-right {
  flex: 6;
}

.box .box-right dl {
  overflow: hidden;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}

.box .box-right dl dt {
  float: left;
}

.box .box-right dl dt img {
  width: 200px;
  height: 200px;
}

.box .box-right dl dd {
  float: left;
  width: 200px;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

.box .box-right dl dd p {
  width: 200px;
  height: 30px;
  line-height: 30px;
}
