* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.title {
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;

    .select {
        width: 40%;
        float: left;

        select {
            width: 30%;
            height: 40px;
        }
    }

    .search {
        width: 30%;
        float: left;
        position: relative;

        input {
            height: 40px;
            width: 60%;
            padding-left: 10px;
        }

        .search-select {
            width: 30%;
            box-shadow: 0 0 5px 0px #ccc;
            position: absolute;
            left: 81px;
            top: 66px;
            padding-left: 10px;
            background: #fff;
            z-index:8;
            a{
                display: block;
                line-height: 25px;
            }
            i {
                border: solid 8px transparent;
                border-bottom: 8px solid #fff;
                position: absolute;
                top: -16px;
                left: 8px;
            }
        }
    }
}

.wrap {
    width: 85%;
    margin: 0 auto;
}

.title-hot {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ccc;
    margin-left: 8px;

    span {
        float: left;
    }

    a {
        color: #000;
        margin: 0 8px;
    }

    a:hover {
        color: aqua;
    }
}

.main {
    width: 100%;

    .main-title {
        height: 80px;
        line-height: 80px;
        a {
            width: 25px;
            height: 25px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            margin: 0 2px;
            color: #000;
        }

        a:hover {
            background: #ccc;
        }
    }

    .main-list {
        width: 100%;
        margin: 20px 0;
        padding: 15px 0;
        display: flex;
        span:nth-child(1) {
            box-sizing: border-box;
            flex: none;
            vertical-align: top;
            padding-top: 10px;
            /* display: inline-block; */
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            background: #13D1BE;
            box-shadow: 0 4px 5px 0 rgba(39, 178, 164, 0.22)
        }
        span{
            margin-left: 20px;
            a{
                margin: 10px 20px;
                color: #666;
                display: inline-block;
                font-size: 14px;
            }
            a:hover{
                color: green;
            }
        }
    }
    .main-list:hover{
        background: #eee;
    }
}
.load{
    position: fixed;
    width: 128px;
    height: 128px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 88;
    img{
        width: 100%;
        height: 100%;
    }
}
