* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #eee;
}

.container {
  width: 70%;
  margin: 50px auto 0;
  border: solid 1px;
  display: flex;
  flex-wrap: wrap;
}

.container .box {
  width: 25%;
  height: 200px;
  background: #fff;
  margin: 20px;
  text-align: center;
  position: relative;
}

.none {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
}

.none ul li span {
  width: 60%;
  height: 40px;
  border: solid 2px red;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  margin-top: 10px;
  color: red;
}

.none .p {
  margin-top: 20px;
  border-top: 1px solid #000;
  height: 40px;
  line-height: 40px;
}

.none .p span {
  margin: 0 2%;
  cursor: pointer;
  position: relative;
  background: #ccc;
  padding: 1% 3%;
  font-size: 13px;
}

.none .p span:hover {
  background: red;
}

.none .p .two {
  position: absolute;
  display: none;
  right: -5px;
  top: -102px;
  background: #fff;
  border-left: 1px solid #999;
  border-right: solid 1px #999;
}

.none .p .two a {
  color: #000;
  text-decoration: none;
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #999;
}

.box-title {
  height: 30px;
  line-height: 30px;
  width: 100%;
  overflow: hidden;
}

.box-title span {
  float: right;
}

.box-main dl dt {
  text-align: center;
  margin-top: 10px;
}

.box-main dl dt span {
  width: 50px;
  height: 50px;
  background: pink;
  display: inline-block;
}

.box-main dl dd {
  margin-top: 5px;
}

.box-main dl dd p {
  margin: 10px 0;
}

.box-main dl dd p:nth-child(2) {
  font-size: 13px;
  color: #666;
}

.box-bottom {
  border-top: 1px solid #000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #666;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  opacity: .5;
}

.alert {
  width: 35%;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.alert .alert-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #000;
}

.alert .alert-title span:nth-child(1) {
  float: left;
}

.alert .alert-title span:nth-child(2) {
  width: 20px;
  height: 20px;
  float: right;
  font-size: 20px;
  margin-top: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.alert .alert-title span:nth-child(2):hover {
  background: red;
  color: #fff;
}

.alert .alert-main {
  width: 100%;
}

.alert .alert-main .list {
  width: 100%;
  height: 53px;
  line-height: 53px;
}

.alert .alert-main .list span:nth-child(1) {
  float: left;
}

.alert .alert-main .list span:nth-child(2) {
  float: right;
}

.alert .alert-main .list span:nth-child(2) input[type="text"] {
  width: 200px;
  height: 20px;
}

.alert .alert-main .list span:nth-child(2) input[type="radio"] {
  margin: 0 5px;
}

.alert .alert-main .list span:nth-child(2) label {
  margin: 0 15px;
}

.alert .alert-main .list span:nth-child(2) select {
  width: 150px;
  height: 20px;
}

.alert .alert-btn {
  width: 100%;
  height: 50px;
  margin: 20px 0 10px 0;
}

.alert .alert-btn span:nth-child(1) {
  float: left;
  width: 40%;
}

.alert .alert-btn span:nth-child(2) {
  float: right;
  width: 40%;
}

.alert .alert-btn span button {
  width: 100%;
  height: 40px;
  background: red;
  border: 0;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.back {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ccc;
  position: fixed;
  right: 37px;
  bottom: 43px;
  cursor: pointer;
}

.search {
  width: 300px;
  height: 30px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
